@charset "utf-8";

*{
  margin : 0;
}

header, footer {
  line-height : 60px;
  text-align : center;
  }
  
  
  header{
  background-color : #ff0;
  }
  
  footer{
  background-color : #ccc;
  }

  footer address {
    font-style : normal;
  }
  
  Main, Map {
  height : 400px;
  background-color : #0f0;
  text-align : center;
  }