.todo-list-template{
  background:#fff;
  width:500px;
  margin:0 auto;
  margin-top:40px;
  box-shadow: 0px 3px 6px #333;
}

.title{
  text-align:center;
  padding:2rem;
  font-size:1.5rem;
  font-weight:100;
  background:#22b8cf;
  color:#fff;
}
.form-wrapper{
  padding:1rem;
  border-bottom:1px dashed #33b8cf;
}
.todos-wrapper{
  min-height:5rem;
}